spring:
  application:
    name: menu-service

  datasource:
    url: jdbc:postgresql://localhost:5435/menu_db
    username: mike
    password: secret
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  data:
    jdbc:
      dialect: postgresql

server:
  port: 8084

logging:
  level:
    root: INFO