spring:
  application:
    name: auth-service
  jmx:
    enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5433/auth_db
    username: mike
    password: secret
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  data:
    jdbc:
      dialect: postgresql

server:
  port: 8081

logging:
  level:
    root: INFO
    org.springframework.jdbc.core: DEBUG

management:
  endpoints:
    jmx:
      exposure:
        exclude: "*"
  server:
    port: -1

